ThirdParty/
build/
*.swp
*.swo
*.h-
CMakeFiles/
Makefile
CMakeCache.txt
tests/main-test

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
